body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.container {
  margin: 0 auto;
  width: 1200px;
}

ul {
  padding: 0;
}

nav {
  font-size: 26px;
  width: 100%;
  height: 90px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: inline;
  list-style: none;
  margin-right: 100px;
}

nav a {
  text-decoration: none;
  color: #003355;
}

nav a:hover {
  color: #2795CE;
}

header {
  margin-top: 100px;
}

header .week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  list-style: none;
}

header .week li {
  margin-right: 55px;
}

header .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  list-style: none;
}

header .day li {
  margin-right: 55px;
}

.form-inactive:hover {
  color: #EE5698;
  cursor: pointer;
}

.form-active {
  display: block;
  padding: 15px 35px;
  background-color: #EE5698;
  border-radius: 1000px;
  color: #fff;
}

#name {
  width: 420px;
  height: 67px;
  border: 1px solid #EE5698;
  border-radius: 87687px;
  font-size: 26px;
  padding-left: 20px;
}

.wrap {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.recipe {
  border: 1px solid #848484;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  padding: 20px;
}

.recipe input {
  width: 500px;
  height: 35px;
  border-radius: 8967789px;
  margin: 5px  0;
  border: 1px solid #6D8698;
}

.method {
  border: 1px solid #848484;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.method input {
  width: 450px;
  height: 35px;
  border-radius: 8967789px;
  margin: 5px  0;
  border: 1px solid #6D8698;
}

.weight {
  width: 90px !important;
  height: 25px !important;
  border: 1px solid #9E9E9E !important;
}

.energy {
  width: 90px  !important;
  height: 34px !important;
}

.energy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.name_of_food {
  border: 1px solid #EE5698 !important;
  width: 350px !important;
}

.submit {
  width: 100px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 150px;
  float: right;
}
/*# sourceMappingURL=main.css.map */