
:root {
  --k:1;
}

html {
  font-family: Roboto;
  font-size:  calc(var(--k) * 1.042vw);
  color: #979090;
  background-image: url(../img/signup-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}


.login section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width:  calc(var(--k) * 39.167vw);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius:  calc(var(--k) * 2.083vw);
  -webkit-box-shadow: 0 0  calc(var(--k) * 2.604vw) black;
          box-shadow: 0 0  calc(var(--k) * 2.604vw) black;
  padding:  calc(var(--k) * 2.604vw) 0;
  margin: 20vh auto;
}


.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width:  calc(var(--k) * 17.604vw);
  color: #3BA2E8;
  margin: calc(var(--k) * 1.563vw) auto
}

.login .logo img {
  width:  calc(var(--k) * 5.365vw);
  height: calc(var(--k) *  3.594vw);
}

.login form *:not(a) {
  display: flex;
  align-items: center;
}

.login form *:not(a):focus {
  outline: none;
}

.login input:not(.checkbox), .login select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom:  calc(var(--k) * 1.563vw);
  width:  calc(var(--k) * 19.375vw);
  height:  calc(var(--k) * 3.646vw);
  border-radius:  calc(var(--k) * 1.875vw);
  border:  calc(var(--k) * 0.104vw) solid #3BA2E8;
  font-size: calc(var(--k) *  1.458vw);
  padding: 0 calc(var(--k) *  1.042vw);
  font-family: Roboto;
  color: #979090;
  background-color: rgba(255, 255, 255, 0);
}


.login .btn {
  width:  calc(var(--k) * 10.813vw);
  height:  calc(var(--k) * 3.333vw);
  border-radius: calc(var(--k) * 2.604vw);
  background-color: #EE5698;
  border: none;
  color: #ffffff;
  font-size:  calc(var(--k) * 1.142vw);
  font-family: Roboto;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  :root{
    --k: 1.8;
  }
}

@media (max-width: 425px) {
  :root{
    --k: 2.4;
  }
}